
//Import Bootstrap styles
@import "bootstrap/bootstrap.less";

//Import Site less files
@import "site/variables.less";		//Site specific variables
@import "site/layout.less"; 		//Basic layout/HTML5 stuff such as <article> and <section>
@import "site/typography.less";		//Typography settings
@import "site/nav.less";			//Nav styling	
@import "site/backgrounds.less";	//Background images and colors	
@import "site/responsive.less";		//Gouwestad Bootstrap Responsive customizations
@import "site/animations.less";		//Animations


//Site specific story styles


.jumbotron {
	background: url("../img/header.jpg") no-repeat bottom right fixed;
}

.header {
	padding: 5em;
}

.schilderijen {
	padding-bottom: 8em;
	margin-top: -5em;
}

.voorstellen {
	background: url("../img/rotterdam.jpg") no-repeat center center fixed;
	color: #fff;
	padding: 8em;
	.profiel {
		img {
		max-width: 80%;
		height: auto;
		}
	}
}

.special {
	.graylighter();
}

.showcase {
	overflow: hidden;
}

.flexslider {
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#btn-mc-close {
    color: #fff;
    margin-top: 0.8em;
    font-size: 1.2em;
    float: right;
    .opacity(0.5);
    &:hover {
        text-decoration: none;
        .scale(1.3);
        .opacity(1);
        transition: all 0.2s ease;
    }
}

.input-75 {
    width: 75%;
}

// Transition Mailchimp formulier

.mc-page.animate-open {
    -webkit-animation: moveToTop .6s ease both;
    -moz-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

.responsive-showcase {
    .desktop{
        .opacity(0);
    }
    .laptop {
        .opacity(0);
    }
    .tablet {
        .opacity(0);
    }
    .tablet-mini {
        .opacity(0);
    }
    .phone {
        .opacity(0);
    }
    &.animate {
        .desktop {
            .opacity(1);
            transition: 2s 1s ease;
            }
        .laptop {
            .opacity(1);
            transition: 2s 2s ease;
        }
        .tablet {
            .opacity(1);
            transition: 2s 3s ease;
        }
        .tablet-mini {
            .opacity(1);
            transition: 2s 4s ease;
        }
        .phone {
            .opacity(1);
            transition: 2s 5s ease;
        }
    }
}
