// Gouwestad Bootstrap Responsive customizations

// Super Large desktops and up
@media (min-width: @screen-large-desktop) {
	body{
		font-size: 110%; //change the basis font-size for superlarge screen
	}
	.container{
		width: 90%;
		max-width: @container-large-desktop;
	}
}

// Super Large desktops and up
@media (min-width: @screen-super-large-desktop) {
	body{
		font-size: 120%; //change the basis font-size for superlarge screen
	}
	.container{
		width: 85%;
		max-width: 1860px;
	}
}