	<div class="body-overlay">
	</div>

	<!--<div class="navbar">
	 	<a class="navbar-brand" href="#">Title</a>
		<ul class="nav nav-pills">
		    <li class="active"><a href="#">Home</a></li>
		    <li><a href="#">Link</a></li>
		    <li><a href="#">Link</a></li>
		</ul>
	</div>-->

	<div>
		<a href="#" class="nav-btn" id="nav-btn">
			<i class="icon-reorder"></i>
		</a>
	</div>
	<div class="nav-side" id="slide-nav">
		<a href="#" class="nav-btn-side" id="nav-btn-close">
			<i class="icon-remove"></i>
		</a>
		<h3>Gouwestad sites</h3>
		<ul class="nav nav-pills nav-stacked">
		    <li><a href="#"><i class="icon-thumbs-up"></i>  Een nieuw soort <strong>website</strong></a></li>
		    <li><a href="#"><i class="icon-compass"></i> Gericht op <strong>resultaat</strong></a></li>
		    <li><a href="#"><i class="icon-pencil"></i> Handgemaakt <strong>design</strong></a></li>
		    <li><a href="#"><i class="icon-bar-chart"></i> Meten is <strong>weten</strong></a></li>
		    <li><a href="#"><i class="icon-eur"></i> Betaalbaar en <strong>snel</strong></a></li>
		</ul>
	</div>
